$background-color: rgb(75, 133, 240);

.App {
  & > h1 {
    text-align: center;
  }
}

.componentForm {
  background: rgba($background-color, 0.2);
  margin: 1em auto;
  padding: 1em 2em 2em;

  h2 {
    text-align: center;
  }
  form {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto;

    input,
    select {
      border: 0.25em solid black;
      border-radius: 0.25em;
      padding: 0.5em 1em;
      margin: 0.5em 0;
      background: white;
      font-weight: 700;
    }
  }
}

.componentList {
  section {
    padding: 1em 2em;
    margin: 1em 0;
    background: rgba($background-color, 0.2);
  }
  h1 {
    font-size: 1.5rem;
  }
}

.componentItem {
  button {
    border: 0.25em solid black;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    background: white;
    font-weight: 700;
  }
  div {
    border: 0.25em solid rgba($background-color, 0.1);
    padding: 0.5em 1em;
    margin: 1em 0;
    h2 {
      font-size: 1.25rem;
    }
    ul {
      padding-left: 1em;
      li {
        margin: 0 auto;
      }
    }
  }
}
