:root {
  --main-bg-color: rgb(76, 133, 240);
  --background-color: rgba(76, 133, 240, 0.2);
}

.App {
  & > h1 {
    text-align: center;
    cursor: pointer;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.componentForm {
  background: var(--background-color);
  margin: 1em auto;
  padding: 1em 2em 2em;

  h2 {
    text-align: center;
  }
  form {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    margin: 0 auto;

    input,
    select {
      border: 0.25em solid black;
      border-radius: 0.25em;
      padding: 0.5em 1em;
      margin: 0.5em 0;
      background: white;
      font-weight: 700;
    }
  }
}

.componentList {
  section {
    padding: 1em 2em;
    margin: 1em 0;
    background: var(--background-color);
  }
  h1 {
    font-size: 1.5rem;
  }
}

.componentItem {
  button {
    border: 0.25em solid black;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    background: white;
    font-weight: 700;
    font-size: 1rem;
  }
  div {
    border: 0.25em solid var(--background-color);
    padding: 0.5em 1em;
    margin: 1em 0;
    h2 {
      font-size: 1.25rem;
    }
    ul {
      padding-left: 1em;
      li {
        margin: 0 auto;
        font-size: 1.25rem;
      }
    }
  }
}

.VariablesForm {
  form {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    input,
    select {
      font-size: 1rem;
      border: 0.25em solid black;
      border-radius: 0.25em;
      padding: 0.5em 1em;
      background: white;
      font-weight: 700;
      margin: 0 0.25rem;
      margin-left: 0;
    }
    h2 {
      margin: 0;
      margin-right: 1rem;
    }
  }
}
